.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6D6D6D;
    font-size: 16px;
}
.add form{
   gap: 20px;
}
.add-img-upload img{
    width: 120px;
}
.add-product-name, .add-product-description{
    width: max(40%,280px);
}
.add-product-name input ,.add-product-description textarea{
    padding: 10px 10px;
}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-category-price select{
    padding: 10px;
}
.add-category-price input{
  padding: 10px;
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.add-product-status{
    margin-bottom: 20px;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #00d63d;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  @media (max-width: 768px) {
    .add-category-price {
      flex-direction: column;
      gap: 10px;
    }
  
    .add-category, .add-price {
      width: 100%;
    }
  }
  